
.banner{
  width: 100%;
  height: 300px;
  margin: 20px 0;
}
.swiper-slide{
  height: 300px!important;
}
.slide{
  position: relative;
}
.pizzaImg{
  width: 80%;
  height: 430px;
  display: block;
  margin: 0 auto;
}
.img-title{
  position: absolute;
  left: 12%;
  top: 50px;
  color: #08c5d1;
  font-size: 30px;
  line-height: 32px;
  text-decoration: none;
  max-width: 400px;
}
