.banner{
  width: 100%;
  height: 300px;
  margin: 20px 0;
}
.swiper-slide{
  height: 300px!important;
}
.slide{
  position: relative;
}
.container-wrap{
  padding: 0 90px;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
.pizzaImg{
  width: 100%;
  height: 430px;
  display: block;
  margin: 0 auto;
}
.img-title{
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  font-size: 30px;
  line-height: 32px;
  text-decoration: none;
  max-width: 400px;
  padding: 10px
}


::ng-deep .swiper-button-next{
  color: #2b4a45;
}
::ng-deep .swiper-button-prev{
  color: #2b4a45;
}
