.header-wrap{
  box-shadow: 1px 2px 4px lightgray;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  /* position: fixed; */
  width: 100%;
  z-index: 5;
  background-color: #fff;
  box-sizing: border-box;
}
.header-menu{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: sticky;
}
.active{
  color: red;
}

