<div class="header-wrap">
  <ul class="header-menu">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/"><button mat-button class="mat-button">Главная</button></li>
    <li routerLinkActive="active" routerLink="/about-us"><button mat-button class="mat-button">О нас</button></li>
    <li routerLinkActive="active" routerLink="/promotions"><button mat-button class="mat-button">Акции</button></li>
  </ul>

  <div class="header-login" *ngIf="userLogged$ | async; else nologged">
    <app-header-logged></app-header-logged>
  </div>
  <ng-template #nologged class="header-login">
    <a mat-button class="mat-button" (click)="openLoginForm()">Войти</a>
  </ng-template>

</div>
