<div class="register-block">
    <div class="register-form-wrap">
        <span class="close-dialog-window-btn" (click)="closeDialogWindow()"><mat-icon>close</mat-icon></span>
        <h2 class="login-title">Регистрация</h2>
        <form [formGroup]="registerForm" (ngSubmit)="submitRegister()" class="register-form">
            <div class="name-login">
                <label for="typeName">Имя</label>
                <input type="text" id="typeName" formControlName="name" [ngClass]="{'invalid': formControls['name'].errors}"  placeholder="Имя">
                <div class="form-errors" *ngIf="formControls['name'].errors">
                    <div *ngIf="formControls['name'].errors['required'] && formControls['name'].touched" class="name-error">Введите имя</div>
                </div>
            </div>
            <div class="email-login">
                <label for="typeEmail">Почта</label>
                <input type="email" id="typeEmail" formControlName="email" [ngClass]="{'invalid': formControls['email'].errors}"  placeholder="Почта">
                <div class="form-errors" *ngIf="formControls['email'].errors">
                    <div *ngIf="formControls['email'].errors['required'] && formControls['email'].touched" class="email-error">Почта пустая</div>
                    <div *ngIf="formControls['email'].errors['email']">Введите правильно почту</div>
                </div>
            </div>
            <div class="password-login">
                <label for="typePassword">Пароль</label>
                <input type="password" id="typePassword" [ngClass]="{'invalid': formControls['password'].errors}" formControlName="password" placeholder="Пароль">
                <div class="form-errors" *ngIf="formControls['password'].errors">
                    <div *ngIf="formControls['password'].errors['required'] && formControls['password'].touched" class="password-error">Пароль пустой</div>
                    <div *ngIf="formControls['password'].errors['pattern']">Введите правильно пароль</div>
                </div>
            </div>
            <p-toast></p-toast>
            <button mat-stroked-button pRipple class="login-form-btn p-button-danger" [disabled]="this.registerForm.invalid" type="submit">Зарегистрироваться</button>
        </form>
    </div>
</div>
