<div class="pizzaView-block">
  <div class="container">
    <div class="pizzaView-wrap">
      <div class="pizzaView-img-block">
        <img src={{pizza.image}} alt="">
      </div>
      <div class="pizzaView-body">
        <h1 class="pizzaView-title">Pizza {{ pizza.title }}</h1>
        <div class="pizzaView-description">{{ pizza.description | space }}</div>
        <div class="pizzaView-size">
          <div class="size-title">Выберите размер пиццы:</div>
          <form [formGroup]="pizzaSizeForm" class="pizzaView-size-form">
            <ul class="size-block">
              <li>
                <input class="size-form-item" type="radio" (change)="getSize(pizza.size[0])" formControlName="price" value={{pizza.price[0]}} />
                <span>{{pizza.size[0]}}cm</span>
              </li>
              <li>
                <input class="size-form-item" type="radio" (change)="getSize(pizza.size[1])" formControlName="price" value={{pizza.price[1]}} />
                <span>{{pizza.size[1]}}cm</span>
              </li>
              <li>
                <input class="size-form-item" type="radio" (change)="getSize(pizza.size[2])" formControlName="price" value={{pizza.price[2]}} />
                <span>{{pizza.size[2]}}cm</span>
              </li>
            </ul>
          </form>
        </div>
        <div class="pizzaView-footer">
          <div class="pizzaView-price">Цена: {{ (pizzaSizeForm.value.price | json) | withoutQuotes }}гр</div>
          <div class="pizzaView-cart">
            <button mat-stroked-button (click)="setToCart()">В корзину</button>
          </div>
        </div>
      </div>
    </div>
    <div class="pizzaView-similar">
      <div class="similar-title">Похожие пиццы</div>
      <div class="similar-body">
        <app-pizza-card class="similar-item" *ngFor="let pizza of similarPizzas$ | async" [item]="pizza"></app-pizza-card>
      </div>
    </div>
  </div>
</div>

