<div class="order-wrap">
  <div class="order-body">
    <div class="order-image">
      <img alt="pizza image" src={{order.image}}>
    </div>
    <div class="order-description">
      <div class="order-title">{{order.title}}</div>
      <div class="order-size">{{order.size}}см</div>
      <div class="order-price">{{order.price}}гр</div>
    </div>
  </div>
  <div class="order-amount">
    <button mat-stroked-button>-</button>
    <div class="amount-item">{{order.count}}</div>
    <button mat-stroked-button>+</button>
  </div>
</div>
