.container{
    max-width: 1280px;
    margin: 0 auto;
}
.pizza-container{
    padding: 70px;
}
.pizza-block-title{
    color: #2b4a45;
    margin: 0 0 40px 0;
    text-align: center;
}
.pizza-block-title h1{
    font-size: 36px;
}
.pizza-list-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.pizza-list-item{
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto 24px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    border: 1px solid transparent;
    max-width: 270px;
}
.pizza-list-item:hover{
    box-shadow: none;
    border: 1px solid rgba(43,74,69,.2);
}
