<swiper
  [config]="config"
  (swiper)="onSwiper($event)"
  (slideChange)="onSlideChange()"
>
  <ng-template class="slide1 slide" swiperSlide><img src="https://via.placeholder.com/322" alt=""></ng-template>
  <ng-template class="slide2 slide" swiperSlide>Slide 2</ng-template>
  <ng-template class="slide3 slide" swiperSlide><img src="https://via.placeholder.com/336" alt=""></ng-template>
  <ng-template class="slide4 slide" swiperSlide>Slide 4</ng-template>
  <ng-template class="slide5 slide" swiperSlide><img src="https://via.placeholder.com/354" alt=""></ng-template>
  <ng-template class="slide6 slide" swiperSlide>Slide 6</ng-template>
</swiper>
