<swiper
  [config]="config"
  (swiper)="onSwiper($event)"
  (slideChange)="onSlideChange()"
>
  <ng-template class="slide1 slide" swiperSlide><img class="pizzaImg" src="../../../assets/img/pizza1.jfif" alt=""></ng-template>
  <ng-template class="slide2 slide" swiperSlide><img class="pizzaImg" src="../../../assets/img/pizza2.jfif" alt=""></ng-template>
  <ng-template class="slide3 slide" swiperSlide><img class="pizzaImg" src="../../../assets/img/pizza3.jfif" alt=""></ng-template>
  <ng-template class="slide4 slide" swiperSlide><img class="pizzaImg" src="../../../assets/img/pizza4.jfif" alt=""></ng-template>
  <ng-template class="slide5 slide" swiperSlide><img class="pizzaImg" src="../../../assets/img/pizza5.jfif" alt=""></ng-template>
  <ng-template class="slide6 slide" swiperSlide><img class="pizzaImg" src="../../../assets/img/pizza3.jfif" alt=""></ng-template>
  <!-- <ng-template class="slide1 slide" swiperSlide><div class="pizzaImg" alt="pizza baner img"></div></ng-template>
  <ng-template class="slide2 slide" swiperSlide><div class="pizzaImg" alt="pizza baner img"></div></ng-template>
  <ng-template class="slide3 slide" swiperSlide><div class="pizzaImg" alt="pizza baner img"></div></ng-template>
  <ng-template class="slide4 slide" swiperSlide><div class="pizzaImg" alt="pizza baner img"></div></ng-template>
  <ng-template class="slide5 slide" swiperSlide><div class="pizzaImg" alt="pizza baner img"></div></ng-template>
  <ng-template class="slide6 slide" swiperSlide><div class="pizzaImg" alt="pizza baner img"></div></ng-template> -->
</swiper>
