.pizza-body-block{
  padding: 10px 20px;
}
.pizza-title{
  margin-bottom: 4px;
  padding: 12px 12px 0px;
  text-align: center;
}
.pizza-title h3{
  color: #212529;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.pizza-description{
  color: #6c757d;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  min-height: 50px;
}
.pizza-footer{
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0 0;
}
.pizza-price{
  font-size: 18px;
  color: #d9663b;
}
